// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #f5f7ec;
$secondary: #cdeac0;
$dark: #4a7c59;
$bg-dark: #2f5233;
$success: #73b06f;
$Red-Button: #d86d6d;
$font-family-sans-serif: "Josefin Sans", sans-serif !default;
$font-family-serif: "Poppins", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
