@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $bg-dark;
}

.titre {
  font-family: $font-family-sans-serif;
}

header.menu,
body {
  font-family: $font-family-serif;
}

footer {
  font-family: $font-family-serif;
}

main {
  margin-bottom: 60px;
}

.bi-search {
  display: inline-block;
  transform: rotate(90deg);
  font-size: 2rem;
}

.hero-scene {
  margin: 10px;
  * {
    //Positionner les éléments devant le &::before
    position: relative;
  }
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(../images/image_3.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    filter: brightness(0.9);
  }

  .hero-scene-content {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

footer.footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
